---
import Logo from "../Logo";
---

<header class="w-full flex items-center justify-center shadow-lg bg-white">
    <div class="w-6xl p-4 flex items-center">
        <!-- <img src="Logo.png" alt="logo" class="h-12"> -->
         <Logo></Logo>
    </div>
</header>