---
import { LuHeartPulse } from "react-icons/lu";
import Button from "../form/Button";
---

<section class="max-w-6xl text-gray-800 text-center flex flex-col gap-8 items-center justify-center h-screen p-4">
    <div>
        <h1 class="lg:text-6xl text-4xl">
            Anticípate al riesgo. 
        </h1>
        <h2 class="lg:text-6xl text-4xl font-extrabold">
            Cuida tu corazón con <span class="text-green-500">inteligencia</span> 
        </h2>
    </div>
    <h3 class="text-gray-600 lg:text-lg text-base">
        Nuestra app utiliza inteligencia artificial para ayudarte a conocer la probabilidad de sufrir un evento cardiovascular. Solo llena un breve formulario, recibe una evaluación personalizada y obtén un reporte detallado basado en tus datos.
    </h3>
    <a href="#form">
        <Button className="w-max">Evaluar mi riesgo <LuHeartPulse></LuHeartPulse></Button>
    </a>
</section>