@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Onest Variable", sans-serif;
}

#form {
  display: grid;
  grid-template-areas: "header header" "nav form" "nav footer" "doctor doctor";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 50vh auto auto;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
