---
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="font-bold text-4xl">Test De Riesgo Cardiovascular</h1>
  <p class="w-xl text-center">
    Para poder determinar si tienes riesgo de sufrir una enfermedad cardiovascular, primero debemos saber unas cuantas
    cosas sobre ti
  </p>
  <Form client:load />
</Layout>
